@model MusicStreamingWeb.Models.Song

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post" action="http://localhost:3964/api/songs" role="form" class="form-horizontal">
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Song</h4>
        <hr />
        @Html.HiddenFor(m => m.Id)
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Artist, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Artist, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Artist, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Format, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Format, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Format, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" id="submitBtn" />
            </div>
        </div>
    </div>
    @*<script type="text/javascript">
            var model = {
                Title: title,
                Format : format,
                Artist: artist,
                Url: url
            $('#submitBtn').bind('click', function ()
            {
                alert('h');
                $.ajax({
                    type: "POST",
                    data: JSON.stringify(model),
                    url: "http://localhost:3964/api/songs/",
                    contentType: "application/Json",
                    success: function (result)
                    {
                        window.location.replace("http://localhost:3681/Songs");
                    }
                })
            })
        </script> *@
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
