@model IEnumerable<MusicStreamingWeb.Models.Song>

@{
    ViewBag.Title = "YourBrodcast";
}

<h2>YourBrodcast</h2>

<p>
    @Html.ActionLink("Add song to Playlist", "AddSongToPlaylist")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Url)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Artist)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Format)
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Url)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Artist)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Format)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { controller = "Songs", id = @item.Id }) |
            @Html.ActionLink("Details", "Details",  new { controller = "Songs", id = @item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = @item.Id })
        </td>
    </tr>
        }
    }

</table>
